// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$btn-green: #067103;
$gray: #0E0000;
$light-gray: #F4F4F4;
$background-brown: #ceb27e;
$dark-green: #7B876D;
$light-green: #989E8B;
$light-pink: #DDB8A6;
$dark-pink: #D49B7E;
$light-brown: #C67F43;
$dark-brown: #893F04;
