.btn-new-product {
  color: white;
  padding: 4px 10px ;
  border-radius: 50%;
  background: #067103;
  text-decoration: none;
  position: fixed;
  bottom:20px;
  right: 20px;
  font-size:24px;

}

.btn-new-product:hover {
  background: #409106;
  color: white;
  transition: background 0.3s ease;
}

.btn-card-edit {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: #067103;
  text-decoration: none;
  font-size: 16px;
}

.btn-add-to-cart{
  color: white;
  padding: 4px 8px ;
  border-radius: 12px;
  background: #067103;
  text-decoration: none;
  font-size: 20px;
}

.btn-card-dlt {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: red;
  text-decoration: none;
  font-size: 16px;

}

.btn-back-to-my-products {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: #067103;
  text-decoration: none;
  font-size: 16px;
}

.btn-update-product {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: #b1b5b6;
  text-decoration: none;
  font-size: 16px;
}

.btn-review {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: #067103;
}
