// footer.scss

.footer {
  background-color:  #7B876D;
  color: #fff;
  padding: 40px 0;

  .first-h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .first-h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
  }

  .about-us {
    text-align: justify;
  }

  .paragraph-market {
    font-size: 14px;
    line-height: 1.6;
  }

  .footer-links a {
    color: #fff;
    opacity: 0.25;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 5px;
  }
  .footer-links a:hover {
    opacity: 1;
  }


  .list-unstyled {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.map {
  height: 200px;
  width: 100%;
}
