.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  color: azure;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
}

.navbar-lewagon .navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
}

.navbar-text {
  font-family: Arial, Helvetica, sans-serif;
  color: $light-pink;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.nav-account {
  color:$light-pink;
  text-decoration: none;
}
