<div class="container">
  <div class="row d-flex justify-content-end">
    <% @products.each do |product| %>
      <div class="card-product col-3 m-2">
        <% @image_url = Faker::LoremFlickr.image(size: "70x70", search_terms: ['fertilizer']) %>
        <%= image_tag(@image_url) %>
        <div class="card-product-infos">
          <h2> <%= product.name %> </h2>
          <p><strong> <%= product.description %> </strong></p>
          <p><strong> R$<%= product.price %> </strong></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
